<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/91c63976-c7f3-4173-aeeb-791ffde6c9ba/resourceGroups/Information_Resource/providers/Microsoft.Web/sites/InformationSystem</ResourceId>
    <ResourceGroup>Information_Resource</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://informationsystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>8e1f0036-9c31-4a2a-a041-e34355930c65</ProjectGuid>
    <MSDeployServiceURL>informationsystem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>InformationSystem</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
	  <UseRidGraph>true</UseRidGraph>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA1Ls3uTFgy0eWWvKtXexbigAAAAACAAAAAAAQZgAAAAEAACAAAADW8WIdhUAHWuTRIRcWfkloVrno808gpZS8IedNNAk+gwAAAAAOgAAAAAIAACAAAAC4QZFxH19BTrN9/A+OFj24juzqNRszkk5f/QfpQFKVdCAAAAAFI1wLKOcgpX49hyxEggF7AtvDm690LOH1q+DjPPGbE0AAAAAl+EahteY9c7UkMonEVFzcUk6TXNk+KjZEkT/FRz24Pcd6BniGx8BAFl1QbchzVJRwyHRAtuOHuIDLqf7Qoym2</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>